<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.tablero_basket_">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/img"
        android:label="@string/app_name"
        android:roundIcon="@drawable/img"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tablero_basket_"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- Activity Principal: MainActivity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activity para mostrar el resultado: ScoreActivity -->
        <activity
            android:name=".ScoreActivity"
            android:exported="true">
            <!-- Si deseas agregar filtros de intentos específicos, puedes añadirlos aquí -->
        </activity>

    </application>

</manifest>
